:root{

  /* Primary color */
--Lime-Green: hsl(163, 72%, 41%);
--Bright-Red: hsl(356, 69%, 56%);

--Facebook: hsl(208, 92%, 53%);
--Twitter: hsl(203, 89%, 53%);
--Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
- YouTube: hsl(348, 97%, 39%)

/* #### Dark Theme */

/* --Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%) */

/* #### Light Theme */

--Toggle-color: hsl(230, 22%, 74%);

/* Neutral Dark Theme */

--Very-Dark-Blue-BG: hsl(230, 17%, 14%);
--Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
--Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
--Desaturated-Blue-Text: hsl(228, 34%, 66%);
--White-Text: hsl(0, 0%, 100%);

/* Light Theme */

--White-BG: hsl(0, 0%, 100%);
--Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
--Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
--Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
--Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

header{
  background-color:hsl(232, 19%, 15%) ;
  padding: 30px 20px;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  padding-bottom: 80px;
}
.social h1{
  color:hsl(0, 0%, 100%) ;

}
.toggle{
  display: flex;
  justify-content: space-between;
}
.social p, .toggle p{
  color:hsl(228, 34%, 66%) ;
  font-size: 14px;
  font-weight: 700;
}
hr{
  border-color: hsl(228, 34%, 66%);
  margin: 20px 0;
}
/* Rounded switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(230, 17%, 14%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(163, 72%, 41%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(163, 72%, 41%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Rounded sliders */

/* Rounded switch ends */

/* main starts */
main{
  background-color:hsl(230, 17%, 14%);
  padding: 30px 20px ;
}
.cards{
  /* height: 200px; */
  width: 100%;
  background-color: hsl(228, 28%, 20%);
  position: relative;
  top: -70px;
  text-align: center;
  padding: 20px;
  border-top: 3px solid  hsl(208, 92%, 53%);
  border-radius: 5px;
  margin-bottom: 20px;
}
.cards .nathanf{
  display: flex;
  justify-content:center;
  padding-bottom: 20px;
}
.cards .nathanf p{
  margin-left: 15px;
  color: hsl(228, 34%, 66%) ;
  font-size: 14px;
  font-weight: 700;
}
.cards h1{
  font-size:60px;
  color: hsl(0, 0%, 100%);
  
}
.cards .follower{
  color: hsl(228, 34%, 66%) ;
  letter-spacing: 6px;
  padding-bottom: 15px;
}
.cards .count{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.count img{
  height: 5px;
  margin-top: 8px;
  margin-right: 7px;
}
.count p{
  font-size: 14px;
  font-weight: 700;
  color:  hsl(0, 0%, 100%);
}
.second{
  border-top: 3px solid hsl(203, 89%, 53%);
}
.second .count p{
  color: hsl(163, 72%, 41%);
}
.third {
  border-top: 3px solid  hsl(37, 97%, 70%);
  
}
.third .count p{
  color: hsl(163, 72%, 41%);
  
}
.fourth{
  border-top: 3px solid hsl(348, 97%, 39%);
}
.fourth .subscribers{
  color:hsl(228, 34%, 66%) ;
  letter-spacing:5px;
}
.fourth .count p{
  color: hsl(356, 69%, 56%);
  margin-top: 2px;
}
main > h1{
  margin-top: -50px;
  color: var(--White-Text);
}
/* second-cards-groups starts */
.card{
  width: 100%;
  background-color: var(--Dark-Desaturated-Blue-Card-BG);
  padding: 20px;
  margin-block:20px ;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.views{
  >p{
    padding-block-end: 20px;
    color: var(--Dark-Grayish-Blue-Text);
  }
  >h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--White-Text);
  }
}

.views-icon{
  text-align: right;
  >img{
    padding-block-end: 40px;
    ;
  }
  >span{
    display: flex;
    /* justify-content: space-between; */
  }
  >span img{
    height: .4rem;
    width: .5rem;
    margin-inline-end: 5px;

    margin-block-start: 7px;
  }
  >span p{
    color: var(--Lime-Green);
  }
  
  >span p.red{
    color:red;
  }
}

/* second-cards-groups ends */
/* main ends */
